## Première exploration du jeu de données.

***Import du module gzip pour l'ouverture des fichiers compressés et de la librairie pandas. Changement d'une option d'affichage pour éviter d'avoir les nombre sous format scientifique dans les pandas dataframe.***

In [1]:
import gzip
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [2]:
folder_path = "../../../data/immobilier/transactions_raw"
with gzip.open(f'{folder_path}/full{2019}.csv.gz', 'rb') as f:
            df = pd.read_csv(f)

c:\users\rustam\documents\projets\python\portfolio_site\env\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

***Ce warning nous informe qu'il y a des colonnes qui contiennet des types de valeurs mixtes (probablement des nombre et des chaînes de charactères mélangés dans la même colonne). Il sera nécessaire de comprendre la nature de ces colonnes et d'opérer des conversions si nécessaire. 
Remarque : une fois qu'on connaitra mieu les données et si on veut optimiser leurs chargement et leurs consommation de place en mémoire, on pourra spécifier un schéma de lecture avec le type de chaque colonne.***

In [3]:
df

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2019-1,2019-01-04,1,Vente,37220.00000,26.00000,NaN,RUE DE MONTHOLON,2730,1000.00000,...,Appartement,20.00000,1.00000,NaN,NaN,NaN,NaN,NaN,5.20956,46.19884
1,2019-2,2019-01-04,1,Vente,185100.00000,22.00000,NaN,RUE GEN DELESTRAINT,1650,1000.00000,...,Appartement,62.00000,3.00000,NaN,NaN,NaN,NaN,NaN,5.21940,46.19877
2,2019-2,2019-01-04,1,Vente,185100.00000,22.00000,B,RUE GEN DELESTRAINT,1650,1000.00000,...,Dépendance,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,5.21940,46.19877
3,2019-3,2019-01-08,1,Vente,209000.00000,3.00000,NaN,RUE DES CHAMPAGNES,0043,1160.00000,...,Maison,90.00000,4.00000,S,sols,NaN,NaN,940.00000,5.28210,45.99957
4,2019-4,2019-01-07,1,Vente,134900.00000,5.00000,NaN,LOT LE BIOLAY,A003,1370.00000,...,Maison,101.00000,5.00000,S,sols,NaN,NaN,490.00000,5.29993,46.29328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142947,2019-1352701,2019-12-30,1,Vente,1400000.00000,24.00000,NaN,RUE SAINT SAUVEUR,8752,75002.00000,...,Local industriel. commercial ou assimilé,100.00000,0.00000,NaN,NaN,NaN,NaN,NaN,2.34809,48.86643
3142948,2019-1352701,2019-12-30,1,Vente,1400000.00000,24.00000,NaN,RUE SAINT SAUVEUR,8752,75002.00000,...,Appartement,97.00000,3.00000,NaN,NaN,NaN,NaN,NaN,2.34809,48.86643
3142949,2019-1352702,2019-12-17,1,Adjudication,620000.00000,14.00000,NaN,RUE PAVEE,7195,75004.00000,...,Appartement,45.00000,2.00000,NaN,NaN,NaN,NaN,NaN,2.36071,48.85619
3142950,2019-1352703,2019-12-05,1,Vente,370000.00000,23.00000,NaN,RUE POISSONNIERE,7561,75002.00000,...,Local industriel. commercial ou assimilé,47.00000,0.00000,NaN,NaN,NaN,NaN,NaN,2.34748,48.86973
3142951,2019-1352704,2019-12-12,1,Adjudication,44000.00000,2.00000,NaN,RUE NOTRE DAME DES VICTOIRES,6840,75002.00000,...,Dépendance,NaN,0.00000,NaN,NaN,NaN,NaN,NaN,2.34126,48.86649

***Utilisation des methodes info() et describe() de pandas pour un premier aperçu de la nature et de la distribution des données. Utilisation de la méthode value_counts() pour les colonnes non numériques***

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142952 entries, 0 to 3142951
Data columns (total 40 columns):
 #   Column                        Dtype
---  ------                        -----
 0   id_mutation                   object
 1   date_mutation                 object
 2   numero_disposition            int64
 3   nature_mutation               object
 4   valeur_fonciere               float64
 5   adresse_numero                float64
 6   adresse_suffixe               object
 7   adresse_nom_voie              object
 8   adresse_code_voie             object
 9   code_postal                   float64
 10  code_commune                  object
 11  nom_commune                   object
 12  code_departement              object
 13  ancien_code_commune           float64
 14  ancien_nom_commune            object
 15  id_parcelle                   object
 16  ancien_id_parcelle            object
 17  numero_volume                 object
 18  lot1_numero                   object
 19  lot1_surface_carrez           float64
 20  lot2_numero                   object
 21  lot2_surface_carrez           float64
 22  lot3_numero                   object
 23  lot3_surface_carrez           float64
 24  lot4_numero                   float64
 25  lot4_surface_carrez           float64
 26  lot5_numero                   float64
 27  lot5_surface_carrez           float64
 28  nombre_lots                   int64
 29  code_type_local               float64
 30  type_local                    object
 31  surface_reelle_bati           float64
 32  nombre_pieces_principales     float64
 33  code_nature_culture           object
 34  nature_culture                object
 35  code_nature_culture_speciale  object
 36  nature_culture_speciale       object
 37  surface_terrain               float64
 38  longitude                     float64
 39  latitude                      float64
dtypes: float64(17), int64(2), object(21)
memory usage: 959.2+ MB

In [5]:
df.describe()

,numero_disposition,valeur_fonciere,adresse_numero,code_postal,ancien_code_commune,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
count,3142952.00000,3106616.00000,1857186.00000,3109897.00000,4165.00000,269817.00000,66781.00000,6586.00000,11659.00000,1848.00000,5633.00000,862.00000,3142952.00000,1677584.00000,1277691.00000,1675365.00000,2156354.00000,3050132.00000,3050132.00000
mean,1.18195,1070014.23965,754.05352,50904.89277,52682.44970,60.99605,63.30206,72.46570,115.57475,89.21439,125.81999,91.63052,0.39817,2.00101,114.51059,2.40983,3096.87710,2.05172,46.50033
std,6.68431,8324055.29883,2104.13210,27703.65678,25844.65742,94.57654,55.19690,84.71184,524.01236,182.48565,510.02737,104.97199,0.93328,0.94395,944.21543,2.08152,13556.24495,5.31312,4.66080
min,1.00000,0.01000,1.00000,1000.00000,1059.00000,0.14000,0.13000,0.85000,2.00000,1.00000,2.00000,0.89000,0.00000,1.00000,1.00000,0.00000,1.00000,-63.14744,-21.38505
25%,1.00000,60000.00000,8.00000,29810.00000,35147.00000,33.58000,42.64000,38.46000,8.00000,32.98000,8.00000,25.97000,0.00000,1.00000,50.00000,0.00000,235.00000,0.10208,44.90288
50%,1.00000,148600.00000,25.00000,49600.00000,50524.00000,52.91000,60.72000,60.38000,24.00000,65.07000,28.00000,74.44000,0.00000,2.00000,75.00000,2.00000,620.00000,2.28463,47.18245
75%,1.00000,270000.00000,95.00000,76290.00000,79035.00000,72.79000,76.04000,84.92500,71.00000,97.73250,82.00000,105.85500,1.00000,3.00000,105.00000,4.00000,1920.00000,4.04114,48.76346
max,694.00000,2086000000.00000,9999.00000,97490.00000,91182.00000,9646.20000,8630.00000,3583.64000,20035.00000,5107.90000,20036.00000,1029.55000,175.00000,4.00000,312962.00000,67.00000,2047961.00000,55.82861,51.08207

In [6]:
df["nature_mutation"].value_counts()

Vente                                 2856205
Vente en l'état futur d'achèvement     232995
Echange                                 34579
Vente terrain à bâtir                    9451
Adjudication                             7521
Expropriation                            2201
Name: nature_mutation, dtype: int64

***Utilisation de la librairie pandas_profiling pour une analyse automatique sur le jeu de données.
Sélection que de la corrélation de Pearson pour la partie correlation afain de diminuer le temps d'analyse.***

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="DVF 2019 raport initial", html={"inline":False}, 
                        correlations={
                             "pearson": {"calculate": True},
                             "spearman": {"calculate": False},
                             "kendall": {"calculate": False},
                             "phi_k": {"calculate": False},
                             "cramers": {"calculate": False},
                         })
profile.to_file("../../../local_files/DVF_2019_raport_initial.html")